<%= render partial: 'shared/nav-bar', locals: { items: nil} %>

<h2 class="page-title">About Us</h2>

<div class='container-fluid about-content'>

  <p>
    Years ago, in a small Nebraska town, Rod's interest in smithing was sparked while watching his great-grandfather play with fire and iron. Decades later, Rod's early childhood fascination with blacksmithing merged with his God-given artistic abilities to enable him to become the artist-blacksmith he is today.
  </p>

  <p>
    Rod's professional experience in metal work began in 1981 when he was hired by an aluminum fabrication company in Clearwater, Florida to oversee shipping and receiving. He quickly learned all aspects of the industry including metal fabrication, architectural measure and layout, TIG welding and the basics of running a construction related business.
  </p>

  <p>
    In 1984, Rod and his wife Julie started their own business, Pickett Fence and Rail. They specialized in custom aluminum railing, fencing, spiral staircases and screen enclosures. Rod's high quality standards, innovative designs, and his ability to custom fit his products to even the most difficult situations quickly earned him an excellent reputation as a metal craftsman in the Tampa-St. Petersburg area.
  </p>

  <p class='about-third-para' >
    Though business was good, Rod and Julie yearned to return home to Colorado and pursue more artistic endeavors. So in 1993, they packed up their home, business and four children and moved to Durango, Colorado. Putting his modern equipment into storage, and using only a hand cranked coal forge, an old anvil, and a handful of tools, Rod began forging a new future in a small horse shed just east of Durango. Over the last 20 years, through prayer, hard work, and sheer determination, Forging Ahead Inc has evolved into a company known for its excellence in design and superior workmanship. Their clients appreciate their ability to craft objects of enduring beauty in iron, bronze, copper, aluminum
  </p>

  <p class='about-third-five-para'>
    and stainless steel. Forging Ahead Inc is now located in a 3000 square foot building just south of Durango, and is well equipped with multiple forges and power hammers, as well as modern fabrication equipment. Rod and his son Lee, a blacksmithing journeyman, enjoy crafting railings, fireplace accessories, range hoods, decorative hardware, furniture and sculptural artwork. Forging Ahead Inc is truly a family business with wife Julie and daughter Amanda managing the office.
  </p>

  <p class='about-fourth-para'>
    In addition to being a practicing blacksmith, Rod strongly believes in continually increasing his own metalsmithing education as well as sharing what he has learned with others. He has been a member of ABANA (Artist Blacksmith Association of North America) and its local affiliate, Rocky Mountain Smiths, since 1994. Rod served as president of RMS from 1998-2003 and served as the RMS co-librarian with Julie from 2008 to 2013. He feels privileged to work alongside many others who are passionate about promoting the art and craft of blacksmithing.
  </p>
</div>

<%= image_tag asset_path('Dragonflied.png'), class:'dragonfly' %>
