.productStyleDisplay {
  position: absolute;
  min-width: 150px;
  top:10%;
  bottom: 10%;
  left: 0%;
  right: 0%;
  margin: auto;
}

.carousel {
  width:inherit;
}

.carousel-card > .fa-times {
  margin-top: 2%;
  margin-right: 2%;
}

.carousel-card {
  background-color:#AEBBBF !important;
  padding: 0px !important;
  text-align: right;
}

.carousel-card-bottom {
  padding-left: 4% !important;
  padding-right: 4% !important;
  padding-bottom: 4% !important;
}

.carousel-card-bottom img {
  display: block;
  margin: auto;
  width: 100%;
}
