#main-page-background {
  overflow: hidden;
  height:100vh;
}

#main-page-background-photo {
  height:100vh;
  position: absolute;
  left: 130px;
}

.pageText {
  color: #84888A;
  font-family: Papyrus;
  text-decoration: none;
}

.titleText {
  color: #7A1721;
  /*color: #A3222F;*/
  position: absolute;
  left: 25px;
  top: 20px;
}

.ownerText {
  /*color: #A3222F;*/
  color: #7A1721;
  position: absolute;
  left: 25px;
  top: 75px;
}

.listText {
  font-size: 20px;
  position: absolute;
  left: 795px;
  bottom: 205px;
}

.addressText {
  position: absolute;
  left: 685px;
  bottom: 30px;
}

.copyrightText {
  position: absolute;
  left: 760px;
  bottom: 05px;
}

html {
  background-color: #595959;
  /*background: url(../main-page-background.jpg) no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 10% 30%;*/
}

#about-light {
  position: absolute;
  left: 600px;
  top: 40px;
}

#about-link {
  font-weight: bold;
  position: absolute;
  left: 637px;
  top: 250px;
}

#contact-light {
  position: absolute;
  left: 750px;
  top: 40px;
}

#contact-link {
  font-weight: bold;
  position: absolute;
  left: 782px;
  top: 250px;
}

#store-light {
  position: absolute;
  left: 900px;
  top: 40px;
}

#store-link {
  font-weight: bold;
  position: absolute;
  left: 949px;
  top: 250px;
}

#gallery-light {
  position: absolute;
  left: 1050px;
  top: 40px;
}

#gallery-link {
  font-weight: bold;
  position: absolute;
  left: 1100px;
  top: 250px;
}

.light-dif {
  height: 200px;
}

.lit-up-color {
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #FDFAC5, 0 0 20px #FDFAC5, 0 0 30px #FDFAC5, 0 0 40px #EA9639, 0 0 50px #EA9639, 0 0 75px #EA9639;
	letter-spacing: .5px;
}

#description {
  /*color: #A3222F;*/
  color: #7A1721;
  font-weight: bold;
}
