<style>
table, th, td {
  border: 5px solid white;
}
</style>

<h2>Gallery</h2>
<table>
<% @products.each_slice(3) do |slice| %>
  <tr>

  <% slice.each do |product| %>
    <td>
      <div>
        <%= link_to image_tag(product.attachment.image.url, width:"250px"), product_path(product.name) if product.attachment %>
      </div>
      <div>
      <%= link_to product.name, product_path(product.name) %><br />
      </div>
    </td>
  <% end %>

  </tr>
<% end %>
</table>
