<%= render partial: 'shared/nav-bar', locals: { items: @products} %>

<h2>Gallery</h2>

<div class="container-fluid projects">
  <div class="row">
    <% @products.each do |product| %>
    <div class="col-sm-3">
      <a href="/products/<%= product.name %>">
        <div class="card">
          <div class="card-block">
            <img class="card-img-top project-style-img" src="<%= product.attachment.image.url if product.attachment %>" >
          </div>
          <h4 class="card-title"><%= product.name %></h4>
        </div>
      </a>
    </div>
  <% end %>

  </div>
</div>
