<div class="container-fluid projects">
  <div class="row">
    <% @product_styles.each do |product_style| %>
    <div class="col-sm-3">
      <div class="card card-block style" id="style-<%=product_style.id%>" style="background-color:#909292" >
        <img class="card-img-top" src="<%= product_style.attachment.image.url %>" >
        <div class="card-block">
          <h4 class="card-title"><%= product_style.style.name %></h4>
        </div>
      </div>
    </div>
  <% end %>

  </div>
</div>

<!-- <div class="productStyleDisplay" >
  <div class='card card-block' >
    <div id='lightSlider' >
    </div>
  </div>
</div> -->

<div class="productStyleDisplay" >
  <div class='card card-block' >
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    </ol>

    <div class="carousel-inner" role="listbox">
    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="icon-prev" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="icon-next" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
</div>
